<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        ul {
            list-style-type: none;
            padding-left: 8px;
        }
    </style>

</head>
<body>

    <main>
        @RenderBody()
    </main>

    <script src="~/libs/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", false)
</body>
</html>
