<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        ul {
            list-style-type: none;
            padding-left: 8px;
        }
        /* The max width is dependant on the container (more info below) */
        .popover {
            max-width: 100%; /* Max Width of the popover (depending on the container!) */
        }
    </style>

</head>
<body>

    <main>
        @RenderBody()
    </main>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("scripts", false)
</body>
</html>
