@model IEnumerable<Comment>

@{
    ViewData["Title"] = "Comments";
}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Commenting System</h5>
                    <partial name="_CreateComment" model="default" />
                </div>
            </div>
        </div>

        @if (Model.Any())
        {
            <div class="col-12 mt-2">
                <div class="border border-primary rounded p-2">
                    <partial name="_CommentsPartialView" model="Model" />
                </div>
            </div>
        }
    </div>
</div>

<partial name="_CreateReply" model="default" />

@section scripts {
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var replyToCommentId = button.data('reply-to-comment-id')

            var modal = $(this)
            modal.find('.modal-body #ReplyToCommentId').val(replyToCommentId)
        })
    </script>
}