@model CommentCreationDto

<form method="post" asp-action="CreateComment" asp-controller="Home">

    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input asp-for="FullName" class="form-control" placeholder=" " />
                <label asp-for="FullName"></label>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating">
                <input asp-for="Email" class="form-control" placeholder=" " />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col form-group">
            <label class="col-form-label" asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col form-group">
            <input type="submit" class="btn btn-success" />
        </div>
    </div>
</form>